@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


button:focus{
	@apply outline-none;
}


.btn-yellow{
	@apply bg-brand-yellow text-white text-sm 
					leading-none font-medium text-center 
					px-4 py-2 inline-flex items-center 
					rounded-lg shadow-lg select-none 
					transition-all hover:opacity-80 
					cursor-pointer;
}


#landing{
	background: url('/bg.webp') no-repeat center / cover;
}