@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


button:focus{
	@apply outline-none;
}


.btn-yellow{
	@apply bg-brand-yellow text-white text-sm 
					leading-none font-semibold text-center 
					px-4 py-2 inline-flex items-center 
					justify-center
					rounded-lg shadow-lg select-none 
					transition-all hover:opacity-80 
					cursor-pointer;
}


#landing{
	background: url('/bg.webp') no-repeat center / cover;
}


.datepicker-calendar{
	@apply !p-0;
}

.datepicker-calendar > div > .p-1 > .grid.w-64.grid-cols-4 > span{
	color: rgb(107, 114, 128);
	user-select: none;
}

.datepicker-calendar > div > .p-1 > .grid.w-64.grid-cols-4 > span:hover{
	background-color: rgb(243, 244, 246);
}

/* Ocultar el scrollbar */
::-webkit-scrollbar {
	display: none;
  }