@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.contanier.global{
	@apply mx-auto;
}
